<p id="notice"><%= notice %></p>

<h1 class="text-center">Your <strong>bookings</strong></h1>



  <body class = "container-booking">
    <% @bookings.each do |booking| %>

        <div class="card-product">
            <% if booking.user_id == current_user.id %>
            <%= cl_image_tag booking.beach.photo.key, width: 200, height: 200, crop: :fill %>
            <div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="card-margin">
                <h2><strong id="title"><%= booking.beach.title %></strong></h2>
                </div>
                <div class="card-margin">
                  <p><strong>Starting Date</strong></p>
                  <p><%= booking.starting_date %></p>
                </div>
                <div class="card-margin">
                  <p><strong>Ending Date</strong></p>
                  <p><%= booking.ending_date %></p>
                </div>
              </div>
            <% end %>
            </div>
        </div>
    <% end %>
  <tbody>

<br>
<%= link_to 'Back', beaches_path %>
