<p id="notice"><%= notice %></p>

<h1 class="text-center">Find your <strong>Dream</strong> Beach!</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Address</th>
      <th>Price</th>
      <th>Lunch</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beaches.each do |beach| %>
      <tr>
        <div class="card">
          <div class="card-description">
            <p><strong id="title"><%= beach.title %></strong></p>
            <p><%= beach.description %></p>
            <td><%= beach.address %></td>
            <td><%= beach.lunch %></td>
          </div>
          <div class="card-price">
            <h2> <%= beach.price %> €</h2>
          </div>
        </div>

        <td><%= link_to 'Show', beach %></td>
        <td><%= link_to 'Edit', edit_beach_path(beach) %></td>
        <td><%= link_to 'Destroy', beach, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beach', new_beach_path %>
