<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card-trip">
        <div class="photo-beach"><%= cl_image_tag @beach.photo.key, width: 200, height: 100, crop: :fill %></div>
        <div class="card-trip-infos">
        <p>
          <strong>Name:</strong>
          <%= @beach.title %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @beach.description %>
        </p>

        <p>
          <strong>Address:</strong>
          <%= @beach.address %>
        </p>

        <p>
          <strong>Price:</strong>
          <%= @beach.price %>
        </p>

        <p>
          <% if @beach.lunch %>
            <strong>Lunch:</strong>
            <p>Lunch available</p>
          <% end %>
        </p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => 'bookings/form_booking' %>


<%= link_to 'Back', beaches_path %>
